<!DOCTYPE html>
<html lang="en" class="no-js">
<head lang="en">
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="./stylesheets/car.css">
<script src="./jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="container">
            <h1><div class="col-md-12 text-center">小巨人商城购物车</div></h1>
            <hr>
            <button type="button" class="btn btn-success">我的购物车</button>
            <button type="button" class="btn btn-info">填写订单</button>
            <button type="button" class="btn btn-info">提交订单</button>
            <hr>
        <table class="table table-bordered">
            <tr>
                <td>商品</td>
                <td>商品名称</td>
                <td>规格</td>
                <td>单价</td>
                <td>数量</td>
                <td>金额小计</td>
                <td>操作</td>
            </tr>
            <tr>
                <td><div class="product"><img src="images/product-01.jpg"></div></td>
                <td><div class="product-td">朗姆葡萄椰蓉方块饼干</div></td>
                <td><div class="product-td">2500kg</div></td>
                <td><div class="product-td">$100</div></td>
                <td><div class="product-td">1</div></td>
                <td><div class="product-td">100</div></td>
                <td><div class="product-td">删除</div></td>
            </tr>
            <tr>
                <td><div class="product"><img src="images/product-02.jpg"></div></td>
                <td><div class="product-td">玛格丽特小饼干</div></td>
                <td><div class="product-td">500kg</div></td>
                <td><div class="product-td">$80</div></td>
                <td><div class="product-td">1</div></td>
                <td><div class="product-td">80</div></td>
                <td><div class="product-td">删除</div></td>
            </tr>
        </table>
        <div class="button-two">
            <button type="button" class="btn btn-danger">继续购物</button>
            <button type="button" class="btn btn-success">去结算</button>
        </div>
        <h4><div class="col-md-12 text-center">
        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1
                    <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </div></h4>
    </div>
</body>
</html>
