<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/category.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <script src="./jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="container margin-top-10">
        <div class="panel panel-danger">
            <div class="panel-heading">
                所有分类
                <spen class="glyphicon glyphicon-chevron-right" style="font-size:12px"></spen>
                <spen class="text-cursor">图书音像</spen>
            </div>
            <div class="panel-body">
                <spen class="col-md-1 category text-center text-cursor">电子书刊</spen>
                <spen class="col-md-1 category text-center text-cursor">音像制品</spen>
                <spen class="col-md-1 category text-center text-cursor">图书</spen>
                <div class="col-md-3 pull-right">
                    <div class="btn btn-danger col-md-4 text-center">
                        <spen class="glyphicon glyphicon-chevron-left font-size-12"></spen>
                    </div>
                    <div class="col-md-4 text-center" style="line-height:34px;">
                        23/30
                    </div>
                    <div class="btn btn-danger col-md-4 text-center">
                        <spen class="glyphicon glyphicon-chevron-right" style="font-size:12px"></spen>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
           <div class="panel-body">
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机，超强大功能。您值强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机最新款女士，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机,机，超强大功能。您值的拥,,有强大功能。您值的拥有 ！最新款女士手机，超强大功能。您值的拥有！最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-bottom-20">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top-1">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top-1">销量：300</div>
                        <div class="col-md-12 border margin-top-1 info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
           </div>
            <div class="panel-heading text-center">
                <button class="btn btn-defaults color-font">上一页</button>
                <button class="btn btn-defaults color-font">1</button>
                <button class="btn btn-defaults color-font">2</button>
                <button class="btn btn-defaults color-font">3</button>
                <button class="btn btn-defaults color-font">4</button>
                <button class="btn btn-defaults color-font">5</button>
                <button class="btn btn-defaults color-font">6</button>
                <button class="btn btn-defaults color-font">7</button> ···
                <button class="btn btn-defaults color-font">下一页</button>共有100页
            </div>
        </div>
    </div>
</body>
<script src="./javascripts/category.js"></script>
</html>
