<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="static/stylesheets/category.css">
    <link rel="stylesheet" href="static/bootstrap/dist/css/bootstrap.css">
    <script src="static/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                所有分类 > 男装
            </div>
            <div class="panel-body">
                <a class="col-md-1 elected-filters category">衬衫</a>
                <a class="col-md-1 elected-filters category">T恤</a>
                <a class="col-md-1 elected-filters category">民族服装</a>
                <div class="col-md-3 margin-top-20 pull-right">
                    <div class="btn btn-default col-md-4 text-center">
                        <
                    </div>
                    <div class="col-md-4 text-center">
                        23/30
                    </div>
                    <div class="btn btn-default col-md-4 text-center">
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
           <div class="panel-body">
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 margin-top-20">
                    <div class="clearfix">
                        <img src="static/images/phone.jpg" class="col-md-12 text-center" >
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border margin-top">$300</div>
                        <div class="pull-right col-md-6 text-center border margin-top">销量：300</div>
                        <div class="col-md-12 border margin-top">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
           </div>
            <div class="panel-heading text-center">
                <button>上一页</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>7</button> ...
                <button>下一页</button>共有100页
            </div>
        </div>
    </div>
</body>
<script src="static/javascripts/category.js"></script>
</html>
