<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/category.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <script src="./jquery/dist/jquery.js"></script>
</head>

<body>
    <div class="container title-margin">
        <div class="panel panel-danger">
            <div class="panel-heading">
                所有分类
                <span class="glyphicon glyphicon-chevron-right char-style"></span>
                <span class="text-cursor">图书音像</span>
            </div>
            <div class="panel-body">
                <span class="col-md-1 category text-center text-cursor">电子书刊</span>
                <span class="col-md-1 category text-center text-cursor">音像制品</span>
                <span class="col-md-1 category text-center text-cursor">图书</span>
                <div class="col-md-3 pull-right">
                    <div class="btn btn-danger col-md-4 text-center">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </div>
                    <div class="col-md-4 text-center page-detail">
                        23/30
                    </div>
                    <div class="btn btn-danger col-md-4 text-center">
                        <span class="glyphicon glyphicon-chevron-right char-style"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-body">
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机，超强大功能。您值强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机最新款女士，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机,机，超强大功能。您值的拥,,有强大功能。您值的拥有 ！最新款女士手机，超强大功能。您值的拥有！最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
                <div class="col-md-3 info-margin-bottom">
                    <div class="clearfix">
                        <img src="./images/category/phone.jpg" class="col-md-12 text-center img-cursor">
                    </div>
                    <div class="col-md-12">
                        <div class="pull-left col-md-6 text-center border">$300</div>
                        <div class="pull-right col-md-6 text-center border">销量：300</div>
                        <div class="col-md-12 border info-div text-cursor">最新款女士手机，超强大功能。您值的拥有！</div>
                    </div>
                </div>
            </div>
            <div class="panel-heading text-center">
                <a href="" class="btn btn-defaults color-font">上一页</a>
                <a href="" class="btn btn-defaults color-font">1</a>
                <a href="" class="btn btn-defaults color-font">2</a>
                <a href="" class="btn btn-defaults color-font">3</a>
                <a href="" class="btn btn-defaults color-font">4</a>
                <a href="" class="btn btn-defaults color-font">5</a>
                <a href="" class="btn btn-defaults color-font">6</a>
                <a href="" class="btn btn-defaults color-font">7</a> ···
                <a href="" class="btn btn-defaults color-font">下一页</a>共有100页
            </div>
        </div>
    </div>
</body>
<script src="./javascripts/category.js"></script>

</html>
