<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/indexStyle.css">
    <link rel="stylesheet" href="./stylesheets/navigation.css">
    <link rel="stylesheet" href="./stylesheets/roll.css">
    <script src="./jquery/dist/jquery.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.js"></script>
    <script src="./javascripts/jquery.slides.min.js"></script>
    <script src="./javascripts/roll.js"></script>
    <title>小巨人购物商城</title>
</head>

<body>
    <div class="container">
        <div class="main-info">
            <div id="navgation">
                <ul class="nav-one">
                    <li class="li-one"><a href="#">图书音像</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">电子书刊</a></li>
                            <li class="li-two"><a href="#">音像制品</a></li>
                            <li class="li-two"><a href="#">图书</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">家电通讯</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">大家电</a></li>
                            <li class="li-two"><a href="#">厨房电器</a></li>
                            <li class="li-two"><a href="#">生活电器</a></li>
                            <li class="li-two"><a href="#">个护电器</a></li>
                            <li class="li-two"><a href="#">手机通讯</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">电脑用品</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">电脑整机</a></li>
                            <li class="li-two"><a href="#">电脑配件</a></li>
                            <li class="li-two"><a href="#">办公打印</a></li>
                            <li class="li-two"><a href="#">平板电脑</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">家具家装</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">生活用品</a></li>
                            <li class="li-two"><a href="#">家具</a></li>
                            <li class="li-two"><a href="#">家装建材</a></li>
                            <li class="li-two"><a href="#">清洁用品</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">服饰鞋帽</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">女装</a></li>
                            <li class="li-two"><a href="#">男装</a></li>
                            <li class="li-two"><a href="#">时尚女鞋</a></li>
                            <li class="li-two"><a href="#">流行男鞋</a></li>
                            <li class="li-two"><a href="#">潮流帽子</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">个护化妆</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">面部护肤</a></li>
                            <li class="li-two"><a href="#">洗头洗护</a></li>
                            <li class="li-two"><a href="#">香水彩妆</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">彩票充值</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">彩票</a></li>
                            <li class="li-two"><a href="#">本地生活</a></li>
                            <li class="li-two"><a href="#">商旅服务</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">运动健康</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">健身系列</a></li>
                            <li class="li-two"><a href="#">体育用品</a></li>
                            <li class="li-two"><a href="#">户外装备</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">母婴用品</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">喂养用品</a></li>
                            <li class="li-two"><a href="#">奶粉</a></li>
                            <li class="li-two"><a href="#">尿裤湿巾</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">汽车用品</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">汽车车型</a></li>
                            <li class="li-two"><a href="#">维护保养</a></li>
                            <li class="li-two"><a href="#">车载电器</a></li>
                        </ul>
                    </li>
                    <li class="li-one"><a href="#">食品饮料</a>
                        <ul class="nav-two">
                            <li class="li-two"><a href="#">休闲食品</a></li>
                            <li class="li-two"><a href="#">进口食品</a></li>
                            <li class="li-two"><a href="#">饮料冲调</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="slides">
                <a href="/product-details"><img src="images/example-slide-1.jpg"></a>
                <a href="/product-details"><img src="images/example-slide-2.jpg"></a>
                <a href="/product-details"><img src="images/example-slide-3.jpg"></a>
                <a href="/product-details"><img src="images/example-slide-4.jpg"></a>
                <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left icon-large"></i></a>
                <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right icon-large"></i></a>
            </div>
            <div id="board">
                <div id="shopping-board">
                    <div class="title-one">
                        <h5>商城公告</h5>
                    </div>
                    <div class="board-content">
                        <ul>
                            <li class="content-list">庆祝新店开张，满199减50</li>
                            <li class="content-list">江浙沪地区包邮</li>
                            <li class="content-list">小巨人商城祝您购物愉快。</li>
                        </ul>
                    </div>
                </div>
                <div id="news">
                    <div class="title-one">
                        <h5>新闻中心</h5>
                    </div>
                    <div class="newsContent">
                        <ul>
                            <li class="content-list">庆祝新店开张，满199减50</li>
                            <li class="content-list">江浙沪地区包邮</li>
                            <li class="content-list">小巨人商城祝您购物愉快。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="new-product">
            <div class="title-two">
                <h3>新款产品</h3>
            </div>
            <div class="line"></div>
            <div class="info-show">
                <ul class="info-list">
                    <li id="list">
                        <a href="/product-details"><img src="/images/biglist.png" class="big-list"></a>
                    </li>
                    <li id="list">
                        <div class="picture" >
                            <a href="/product-details"><img src="/images/list.png"></a>
                        </div>
                        <div class="word">
                            <a href="/product-details">hello kitty移动电源</a>
                        </div>
                        <div class="price">
                            ￥20.00
                        </div>
                    </li>
                    <li id="list">
                        <div class="picture" >
                            <a href="/product-details"><img src="/images/list.png"></a>
                        </div>
                        <div class="word">
                            <a href="/product-details">hello kitty移动电源</a>
                        </div>
                        <div class="price">
                            ￥20.00
                        </div>
                    </li>
                    <li id="list">
                        <div class="picture" >
                            <a href="/product-details"><img src="/images/list.png"></a>
                        </div>
                        <div class="word">
                            <a href="/product-details">hello kitty移动电源</a>
                        </div>
                        <div class="price">
                            ￥20.00
                        </div>
                    </li>
                    <li id="list">
                        <div class="picture" >
                            <a href="/product-details"><img src="/images/list.png"></a>
                        </div>
                        <div class="word">
                            <a href="/product-details">hello kitty移动电源</a>
                        </div>
                        <div class="price">
                            ￥20.00
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="popular-product">
            <div class="title-two">
                <h3>热销爆款</h3>
            </div>
            <div class="line"></div>
            <div class="info-show">
                <ul class="info-list">
                    <li id="list">
                        <a href="/product-details"><img src="/images/biglist.png" class="big-list"></a>
                    </li>
                    <li id="list">
                        <div class="picture" >
                            <a href="/product-details"><img src="/images/list.png"></a>
                        </div>
                        <div class="word">
                            <a href="/product-details">hello kitty移动电源</a>
                        </div>
                        <div class="price">
                            ￥20.00
                        </div>
                    </li>
                    <li id="list">
                        <div class="picture" >
                            <a href="/product-details"><img src="/images/list.png"></a>
                        </div>
                        <div class="word">
                            <a href="/product-details">hello kitty移动电源</a>
                        </div>
                        <div class="price">
                            ￥20.00
                        </div>
                    </li>
                    <li id="list">
                        <div class="picture" >
                            <a href="/product-details"><img src="/images/list.png"></a>
                        </div>
                        <div class="word">
                            <a href="/product-details">hello kitty移动电源</a>
                        </div>
                        <div class="price">
                            ￥20.00
                        </div>
                    </li>
                    <li id="list">
                        <div class="picture" >
                            <a href="/product-details"><img src="/images/list.png"></a>
                        </div>
                        <div class="word">
                            <a href="/product-details">hello kitty移动电源</a>
                        </div>
                        <div class="price">
                            ￥20.00
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
