<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网络商城</title>
    <script src = 'jquery-1.11.3.js'></script>
    <script src = 'jquery.enlarge.min.js'></script>
</head>
<body>
    <div class="container">
        <div class="buy_content">
            <div class="buy_content_imgbox">
                <div class="productimgbox">
                    <div class="productbigimg_box">
                        <div class="productbigimg">
                            <img src="./images/goods-detail-picture/ym2.jpg" class="blockimg">
                            <img src="./images/goods-detail-picture/tang.jpg">
                        </div>
                    </div>
                    <ul class="productsmallimg">
                        <li class="libg">
                            <img photo_index="0" src="./images/goods-detail-picture/ym2.jpg">
                        </li>
                        <li class>
                            <img photo_index="1" src="./images/goods-detail-picture/tang.jpg">
                        </li>
                        <li class>

                        </li>
                        <li class>

                        </li>
                        <li class="lastli">

                        </li>
                    </ul>
                </div>
            </div>
            <div class="buy_content_text">
                <div class="buy_content_text_a">
                    <h1 class="buy_content_text_a1">
                    杨幂
                    <br>
                    <em class="buy_content_text_a2">lalalalala</em>
                    </h1>
                </div>
                <div class="BuyContent_Box">
                    <ul class="buy_content_text_b" style="width:602px">
                        <li class="buy_content_state" id="goods_property_code" style>
                            <em class="buy_content_state_a">商品编码：</em>
                            <div class="Buy_ContentBox">
                                <em class="buy_content_state_b" id="goods_code">24124</em>
                            </div>
                        </li>
                        <li class="buy_content_state1">
                            <em class="buy_content_state_a">价&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</em>
                            <div class="Buy_ContentBox">
                                <em class="buy_content_state_b" id="sales_price" style>33333330.0</em>
                                <em style="font-size:12px;">元</em>
                                &nbsp;
                            </div>
                        </li>
                        <li class="buy_content_state1">
                            <em class="buy_content_state_a">规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：</em>
                            <div class="Buy_ContentBox" id="goods_evaluate_total_show">
                                <input type="radio" name="a">&nbsp;&nbsp;L&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="a">&nbsp;&nbsp;M
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="buy_content_text_c" id="goods_property_content">
                    <li class="buy_content_state" id="buy_goods_num_box">
                        <em class="buy_content_state_a">数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：</em>
                        <em>
                            <ul class="quantitypurchased">
                                <li class="quantity">
                                    <a id="goods_number_minus">-</a>
                                    <input id="goods_number_input" name="goods_number_input" value="1">
                                    <a id="goods_number_plus">+</a>
                                </li>
                                <li>
                                    件&nbsp;(库存
                                    <a class="reserve" id="goods_number" href="javascript:void(0)">13</a>
                                    )件
                                </li>
                            </ul>
                        </em>
                    </li>
                </ul>
                <div class="buy_content_arrow">
                    <!-- JiaThis Button BEGIN -->
                    <div class="jiathis_style">
                        <a class="jiathis_button_qzone"></a>
                        <a class="jiathis_button_tsina"></a>
                        <a class="jiathis_button_tqq"></a>
                        <a class="jiathis_button_weixin"></a>
                        <a class="jiathis_button_renren"></a>
                        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                        <a class="jiathis_counter_style"></a>
                    </div>
                    <!-- JiaThis Button END -->
                </div>
                <ul class="buy_content_button">
                    <li>
                        <div class="button_join_cart patt_bg_join_cart" id="add_to_cart">加入购物车</div>
                    </li>
                </ul>
            </div>
        </div>



        <div class="container">
            <hr>
            <div class="left">
                <div id="shoppingBoard">
                    <div class="titleOne">
                        <h5>商城公告</h5>
                    </div>
                    <div class="boardContent">
                        <ul>
                            <li class="contentList">庆祝新店开张，满199减50</li>
                            <li class="contentList">江浙沪地区包邮</li>
                            <li class="contentList">小巨人商城祝您购物愉快。</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#">商品详情</a></li>
                    </ul>
                </div>
                <div class="jumbotron">
                    <p>产品名称:杨幂</p>
                    <p>产品参数:</p> <br>
                    <ul>
                        <li>产品名称:杨幂</li>
                        <li>上市时间:2014.02.13</li>
                        <li>品牌:不知道</li>
                    </ul>
                    <ul>
                        <li>生产编号:-</li>
                        <li>厂家联系方式:66666</li>
                        <li>生产许可证:c42134</li>
                    </ul>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    <ul>
                    </ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
    <link rel="stylesheet" href="./stylesheets/bootstrap.css" >
    <link rel="stylesheet" href="./stylesheets/product.css">
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js"></script>
</html>
