extends ./layout.jade
block styles
    link(rel="stylesheet" href="./stylesheets/search.css")
    link(rel="stylesheet" href="./stylesheets/layoutStyle.css")
    link(rel="stylesheet" href="./lib/bootstrap/bootstrap.css")
    link(rel="stylesheet" href="./stylesheets/promotion.css")
block content
    include search.html
    .container
        .crumb-up-title
            .crumb-up-slide
                .crumb-up-clip
                    ul.crumb-up-list
                        li
                            a(href="#" ) 全部
                        li.bracket
                            | >
                        li
                            a(href="#" ) 促销
            .promotion-type-box
                .promotion-type.attr
                    .attr-type 促销方式
                    .attr-values
                        ul.promotion-list
                            li
                                a(href="#") 秒杀
                            li
                                a(href="#") 满减
                            li
                                a(href="#") 团购
                            li
                                a(href="#") 打折
                            li
                                a(href="#") 满送
            .attr-extra
                .attr-extra-border
            .promotion-box
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。chen寸功能大
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。fk
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
                .product
                    .product-wrap
                        .product-img-wrap
                            a(href="#" class="product-img")
                                img(src="./images/goods/ip1.jpg")
                        .product-img-price
                            em
                                b ¥
                                | 49.90
                        .product-title
                            a(href="" class="product-title")
                                | 尺寸更大，却愈加纤薄。堪称 iPhone 新一代至为出众的大作。
    .panel-heading.text-center.paging
        a(href class="btn btn-defaults color-font previous-page disabled") 上一页
        span#number-page-down
            a(class="btn btn-defaults color-font number-page font-color") 1
            a(class="btn btn-defaults color-font number-page font-color") 2
            a(class="btn btn-defaults color-font number-page font-color") 3
            a(class="btn btn-defaults color-font number-page font-color") 4
            a(class="btn btn-defaults color-font number-page font-color") 5
            a(class="btn btn-defaults color-font number-page font-color") 6
            | ...
        a(class="btn btn-defaults color-font next-page active") 下一页
        | 共有【10】页

