<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./jquery/dist/jquery.js"></script>
    <script src="./javascripts/shoppingCart.js"></script>
    <title>shoppingCart</title>
</head>
<body>
    <div class="container">
        <div class="BuyCart_Shops">
            <div class="BuyCart_ShopsName">
                商家：
                <span>littleGiantCartShopping</span>
            </div>
            <div class="BuyCart_GoodsBox">
                <div class="buycart_a">
                    <div class="buycart_titlebox">
                        <ul class="buycart_title">
                            <li class="buy_cart_all"><input type="checkbox" name="all-check" value="">全选<br></li>
                            <li class="buy_cart_goods">商品名称</li>
                            <li class="buy_cart_rmb">价格</li>
                            <li class="buy_cart_number">数量</li>
                            <li class="buy_cart_total">小计</li>
                            <li class="buy_cart_operate">
                                <ul class="buycart_title_leftbg">
                                    <li class="buycart_title_leftbg2">操作</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="buycart_content cart_goods" goods_id="24124" id="cart_goods">
                    <li class="buycart_content_table1">
                        <input type="checkbox" class="add_goods_tobuy_choose_0" name="add_goods_tobuy_choose_0" id="add_goods_tobuy_24124">
                    <li class="buycart_content_table2">
                        <a href="/product-details">
                            <img src="./images/goods-detail-picture/ym2.jpg" >
                        </a>
                    </li>
                    <li class="buycart_content_table3">
                        <a href="/product-details">
                            杨幂
                            <em>啦卡</em>
                        </a>
                    </li>
                    <li class="buycart_content_table4">
                        ￥<input class="price" type="test" name="name" value="33333330" readonly>
                    </li>
                    <li class="buycart_content_table5">
                        <input class="changes" type="button" name="add" value="-">
                        <input class="cart_goods_count" type="test" value="1">
                        <input class="changes" type="button" name="reduction" value="+">
                    </li>
                    <li class="buycart_content_table6">
                        ￥<input class="subtotal" type="test" name="name" value="" readonly>
                    </li>
                    <li class="buycart_content_table7">
                        <a class="cart_goods_delete">删除</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="show_buy_cart_price_all">
            <div class="BuyCart_TotalBox">
                <ul class="buycart_content_footer">
                    <li class="footer_center">
                        <ul style="float:right;">
                            <li>
                                <span class="amount_title">总计：</span>
                                <em class="amount">¥ 9.00</em>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_button">
            <a href="/product-details"><div class="continue_cart">继续购物</div></a>
            <div class="buy_now">去结算</div>
        </div>
    </div>
</body>
<link rel="stylesheet" href="./stylesheets/shoppingCart.css">
<link rel="stylesheet" href="./stylesheets/bootstrap.css" >
</html>
