<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./stylesheets/shoppingCart.css">
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
    <title>shoppingCart</title>
</head>

<body>
    <div class="container">
        <div class="cart-shop">
            <div class="cart-shops-name">
                商家：
                <span>littleGiantCartShopping</span>
            </div>
            <div class="cart-goods-box">
                <div class="cart-a">
                    <div class="cart-title-box">
                        <ul class="cart-title">
                            <li class="cart-all">
                                <html lang="en">

                                <head>
                                    <meta charset="UTF-8">
                                    <link rel="stylesheet" href="./stylesheets/shoppingCart.css">
                                    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.css">
                                    <title>shoppingCart</title>
                                </head>

                                <body>
                                    <div class="container">
                                        <div class="cart-shop">
                                            <div class="cart-shops-name">
                                                商家：
                                                <span>littleGiantCartShopping</span>
                                            </div>
                                            <div class="cart-goods-box">
                                                <div class="cart-a">
                                                    <div class="cart-title-box">
                                                        <ul class="cart-title">
                                                            <li class="cart-all">
                                                                <input type="checkbox" name="all-check" value="">全选
                                                                <br>
                                                            </li>
                                                            <li class="cart-goods">商品名称</li>
                                                            <li class="cart-rmb">价格</li>
                                                            <li class="cart-number">数量</li>
                                                            <li class="cart-total">小计</li>
                                                            <li class="cart-operate">
                                                                <ul class="cart-title_leftbg">
                                                                    <li class="cart-title-left-bg2">操作</li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="shopping_cart_goods">
                                                    sadasfd
                                                </div>
                                                <ul class="cart-content cart_goods" goods_id="24124" id="cart_goods">
                                                    <li class="cart-content-table1">
                                                    </li>
                                                    <li class="cart-content-table1">
                                                        <a href="/product-details">
                                                        </a>
                                                    </li>
                                                    <li class="cart-content-table3">
                                                        <a href="/product-details">
                                                        </a>
                                                    </li>
                                                    <li class="cart-content-table4b">
                                                        <input class="price" type="text" name="price" value="'+ value.price +'" readonly>'
                                                    </li>
                                                    <li class="cart-content-table5">
                                                    </li>
                                                    <li class="cart-content-table6">
                                                        <input class="subtotal" type="test" name="name" value="" readonly>
                                                    </li>
                                                    <li class="cart-content-table7">
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div id="show_buy_cart_price_all">
                                            <div class="cart-total-box">
                                                <ul class="cart-content-footer">
                                                    <li class="footer-center">
                                                        <ul class="my-total">
                                                            <li>
                                                                <span class="amount-title">总计：</span>
                                                                <em class="amount">
                                                                    ￥
                                                                    <input class="total" type="test" name="name" value="" readonly>
                                                                </em>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="footer-button">
                                            <a href="/product-details">
                                                <div class="continue-cart">继续购物</div>
                                            </a>
                                            <div class="buy-now">去结算</div>
                                        </div>
                                    </div>
                                </body>
                                <script src="./jquery/dist/jquery.js"></script>
                                <script src="./javascripts/shopping-cart.js"></script>

                                </html>ype="checkbox" name="all-check" value="">全选
                                <br>
                            </li>
                            <li class="cart-goods">商品名称</li>
                            <li class="cart-rmb">价格</li>
                            <li class="cart-number">数量</li>
                            <li class="cart-total">小计</li>
                            <li class="cart-operate">
                                <ul class="cart-title_leftbg">
                                    <li class="cart-title-left-bg2">操作</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="shopping_cart_goods">
                    sadasfd
                </div>
                <ul class="cart-content cart_goods" goods_id="24124" id="cart_goods">
                    <li class="cart-content-table1">
                    </li>
                    <li class="cart-content-table1">
                        <a href="/product-details">
                        </a>
                    </li>
                    <li class="cart-content-table3">
                        <a href="/product-details">
                        </a>
                    </li>
                    <li class="cart-content-table4b">
                        <input class="price" type="text" name="price" value="'+ value.price +'" readonly>'
                    </li>
                    <li class="cart-content-table5">
                    </li>
                    <li class="cart-content-table6">
                        <input class="subtotal" type="test" name="name" value="" readonly>
                    </li>
                    <li class="cart-content-table7">
                    </li>
                </ul>
            </div>
        </div>
        <div id="show_buy_cart_price_all">
            <div class="cart-total-box">
                <ul class="cart-content-footer">
                    <li class="footer-center">
                        <ul class="my-total">
                            <li>
                                <span class="amount-title">总计：</span>
                                <em class="amount">
                                    ￥
                                    <input class="total" type="test" name="name" value="" readonly>
                                </em>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-button">
            <a href="/product-details">
                <div class="continue-cart">继续购物</div>
            </a>
            <div class="buy-now">去结算</div>
        </div>
    </div>
</body>
<script src="./jquery/dist/jquery.js"></script>
<script src="./javascripts/shopping-cart.js"></script>

</html>
