.image{
    width:200px;
    height: 200px;
}
hr{
    width: 80%;
    color: #00ffff;
    border: 1px;
}
td{
    text-align:center;
}
.product{
    width:195px;
    height: 239px;
}
.product-td{
    margin-top: 106px;
}
.button-two{
    margin-top: 20px;
    margin-left: 930px;
}
