.no_float {
    float:none;
}

.category {
    border: 1px solid #e8e8e8;
    color: #666;
    margin: 0 5px 10px 0;
    height: 18px;
    line-height: 18px;
}

.border {
    border: 1px solid #e8e8e8;
}

.margin-top-1 {
    margin-top: 1px;
}

.margin-top-20 {
    margin-top:20px;
}

a {
  text-decoration: none;
}
