* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#nav {
    width: 100%;
    height: 50px;
    background: #b61d1d;
}
.logo {
    padding-left: 100px;
    display: inline;
}
.logo img {
    width: 150px;
    height: 50px;
}
#nav a {
    display: block;
    float: left;
}
.nav-list {
    display: inline-block;
    float: left;
    height: 40px;
}
.nav-list li {
    display: inline-block;
    margin: 0 10px;
}
.nav-list li:hover {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    background-color: #a20022;
}
.nav-list li a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    margin: 0 10px;
}
.nav-user {
    margin-right: 100px;
    display: inline-block;
    float: right;
    line-height: 50px;
}
.nav-user li {
    display: inline-block;
    float: left;
}
.nav-user li a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    margin: 0 10px;
}
.content {
    width: 100%;
    height: 2000px;
}
#foot {
    width: 100%;
    height: 120px;
    padding-top: 30px;
    text-align: center;
}
.footbanner {
    text-align: center;
    background: #F5F5F5;
    width: 100%;
    height: 100px;
    border: 1px solid #aaa;
}
.footbanner ul {
    margin-top: 20px;
}
.footbanner li {
    display: inline-block;
    margin: 0 30px;
}
p {
    color: #fff;
    line-height: 20px;
    display: block;
    font-size: 12px;
    color: #7B7373;
}
.header-down {
    width: 1210px;
    margin: 0 auto;
    margin-top: 20px;
    height: auto;
}
.form {
    width: 576px;
    height: 60px;
    margin: 0 auto;
}
#key {
    float: left;
    width: 446px;
    height: 40px;
    line-height: 24px;
    color: #666;
    padding: 4px;
    margin-bottom: 4px;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
    outline: 0;
    font-size: 14px;
    font-family: "microsoft yahei";
}
.search-button {
    float: left;
    width: 82px;
    height: 40px;
    background: #B61D1D;
    border: none    ;
    line-height: 1;
    color: #fff;
    font-family: "Microsoft YaHei";
    font-size: 16px;
    cursor: pointer;
}