.container {
    margin: 40px 0px;
    padding-left: 0px;
}
.order-tabal {
    width: 1000px;
    margin-left: 70px;
}

.col-name {
    height: 45px;
    background-color: #F5F5F5;
}
.line {
    height: 20px;
}
.order-time {
    height: 40px;
    padding: 10px;
}
.deal-time {
    width: 90px;
    height: 20px;
    float: left;
}
.order-item {
    height: 20px;
    float: left;
    padding-left: 20px;
}
.a {
    background-color: #F5F5F5;
}
.name {
    padding: 15px;
}
.item-picture {
    height: 80px;
    width: 80px;
    margin: 5px 12px 0 0;
    float: left;
}
.item-name {
    width: 200px;
    float: left;
}
td {
    text-align: center;
    border: 1px solid #F5F5F5;
}
.order-table th {
    text-align: center;
}
.commodity {
    width: 400px
}

.price,.quantity,.operate {
    width: 100px;
}

.amount,.status {
    width: 150px;
}
