
* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei,SimSun,Arial;
}
.buy-content {
    width: 1190px;
    overflow: hidden;
    margin: 0 auto;
}
.buy-content-imgbox {
    width: 362px;
    float: left;
}
.buy-content-imgbox .product-imgbox .product-bigimg-box {
    width: 340px;
    height: 340px;
    border: 1px solid #dedede;
    padding: 10px;
}
img {
    border: none 0;
}
.big-picture {
    width: 100%;
    height: 100%;
}
.product-small-img li a {
    display: block;
    height: 58px;
    width: 58px;
}
.product-small-img li a:hover {
    border: 1px solid red;
    cursor: default;
}
li {
    list-style: none;
}
.product-small-img li {
    width: 58px;
    height: 60px;
    float: left;
    margin-right: 9px;
    border: 2px solid #fff;
}
.product-small-img li img {
    width: 56px;
    height: 56px;
    border: 1px solid #ddd;
}
img {
    border: none 0;
}

.buy-content-text {
    width: 766px;
    float: left;
}
.buy-content-text .buy-content-text-a {
    width: auto;
    padding: 0px 0px 10px 0px;
    overflow: hidden;
    border-bottom: 1px dotted #cccccc;
    margin-left: 22px;
    margin-bottom: 10px;
}
.buy-content-text .buy-content-text-a2 {
    line-height: 23px;
    font-size: 16px;
    color: #c30000;
}
em {
    font-style: normal;
}
.buy-content-box {
    width: 743px;
    padding-left: 23px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.buy-content-text-b {
    position: relative;
}
.buy-content-text-b .buy-content-state{
    width: 100%;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;
}
.buy-content-state-a {
    width: 40px;
    overflow: hidden;
    display: block;
    float: left;
    text-justify: inter-ideograph;
    line-height: 30px;
    margin-right: 10px;
    font-size: 12px;
    text-align: justify;
    text-justify: distribute-all-lines;
}
.buy-content-text-b {
    width: 200px;
    overflow: hidden;
    display: block;
    float: left;
    text-justify: inter-ideograph;
    line-height: 30px;
    margin-right: 10px;
    font-size: 12px;
    text-align: justify;
    text-justify: distribute-all-lines;
}
.buy-content-text-b .buy-content-state em {
    display: block;
    float: left;
}
.buy-content-text-b .buy-content-state1 .buy-content-state-b {
    font-size: 30px;
    color: #c30000;
    font-weight: bold;
    line-height: 30px;
}
.buy-content-text-c {
    width: 743px;
    overflow: hidden;
    background: #fffcf5;
    border: 2px solid #edd28b;
    margin: 10px 0px 10px 22px;
    padding: 10px 0px;
}
 .buy_content_state {
    width: 743px;
    overflow: hidden;
    float: left;
    padding-left: 5px;
    color: #61605d;
}
.buy-content-text-c .buy_content_state .buy-content-state-a {
    width: 42px;
    height: 40px;
    display: block;
    overflow: hidden;
    line-height: 40px;
    float: left;
    margin-right: 10px;
    font-size: 12px;
}
.quantity-purchased {
    margin-top: 10px;
}
.quantity-purchased li {
    float: left;
    line-height: 21px;
    margin-right: 5px;
    font-size: 12px;
}
.quantity * {
    float: left;
    border: 0px;
    padding: 0px;
    height: 18px;
    width: 12px;
}
.quantity input {
    width: 40px;
    height: 18px;
    color: #666;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
}
.buy_content_button {
    width: 400px;
    overflow: hidden;
    padding: 20px 10px 0px 26px;
}
.button_join_cart {
    width: 125px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
}
.patt_bg_join_cart {
    background: #c51b00;
    color: #fff;
    font-size: 16px;
}
.patt_bg_join_cart:hover {
    background: #D9534F;
    color: #fff;
    font-size: 16px;
}
.left{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 60px;
}
.right{
    float: left;
    width: 800px;
}
.number{
    width: 30px;
    height: 30px;
    float: left;
}
ul li{
    margin-right: 0px;
}
.price{
    font-size: 25px;
    border:0px;
    width: 100px;
    height: 40px;
}
.adder-subtractor{
    width: 15px;
    float: left;
}
.number-add{
    width: 15px;
    height: 15px;
    float: left;
}
.activity{
    text-align:center;
    margin:0 auto;
}
.jumbotron{
    background-color: white;
}
.jumbotron p {
    color: black;
}
#shopping-board {
   height: 145px;
   width: 240px;
   border: 1px solid #c1c1c1;
}
h5 {
   line-height: 35px;
   margin-left: 12px;
}
.board-content {
   height: 108px;
   width: 240px;
}
.content-list {
   margin-left: 25px;
   margin-top: 10px;
}
.select-item{
    width: 60px;
}
label{
    display: inline;
}
.content-list {
    margin-left: 11px;
    margin-top: 2px;
}
.content-list a {
    color: #000;
}
.content-list a:hover {
    color: #B61D1D;
    text-decoration: none;
}