
* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei,SimSun,Arial;
}
.buy_content {
    width: 1190px;
    overflow: hidden;
    margin: 0 auto;
}
.buy_content_imgbox {
    width: 362px;
    float: left;
}
.buy_content_imgbox .productimgbox {
    width: 362px;
    float: left;
}
.buy_content_imgbox .productimgbox .productbigimg_box {
    width: 340px;
    height: 340px;
    border: 1px solid #dedede;
    padding: 10px;
}
.buy_content_imgbox .productimgbox .productbigimg {
    width: 100%;
    height: 100%;
    position: relative;
}
.buy_content_imgbox .productimgbox .productbigimg img {
    width: 340px;
    height: 340px;
    display: none;
}
img {
    border: none 0;
}
.buy_content_imgbox .productimgbox .productbigimg .blockimg {
    display: block;
}
.buy_content_imgbox .productimgbox .productbigimg img {
    width: 318px;
    height: 318px;
    display: none;
}
img {
    border: none 0;
}
.buy_content_imgbox .productimgbox .productsmallimg {
    width: 362px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 14px;
}
li {
    list-style: none;
}
.productsmallimg li {
    width: 58px;
    height: 58px;
    float: left;
    margin-right: 9px;
    border: 2px solid #fff;
}
.productsmallimg li img {
    width: 56px;
    height: 56px;
    border: 1px solid #ddd;
}
img {
    border: none 0;
}

.buy_content_text {
    width: 766px;
    float: left;
}
.buy_content_text .buy_content_text_a {
    width: auto;
    padding: 0px 0px 10px 0px;
    overflow: hidden;
    border-bottom: 1px dotted #cccccc;
    margin-left: 22px;
    margin-bottom: 10px;
}
.buy_content_text .buy_content_text_a1 {
    line-height: 23px;
    font-size: 16px;
    color: #595959;
}
.buy_content_text .buy_content_text_a2 {
    line-height: 23px;
    font-size: 16px;
    color: #c30000;
}
em {
    font-style: normal;
}
.BuyContent_Box {
    width: 743px;
    padding-left: 23px;
}
.buy_content_text_b {
    width: 602px;
    overflow: visible;
    color: #61605d;
    float: left;
}
.buy_content_text {
    width: 766px;
    overflow: visible;
    color: #61605d;
    float: left;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.buy_content_text_b {
    position: relative;
}
.buy_content_text_b .buy_content_state, .buy_content_text_b .buy_content_state1 {
    width: 100%;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;
}
.buy_content_state_a {
    width: 40px;
    overflow: hidden;
    display: block;
    float: left;
    text-justify: inter-ideograph;
    line-height: 30px;
    margin-right: 10px;
    font-size: 12px;
    text-align: justify;
    text-justify: distribute-all-lines;
}
.buy_content_text_b {
    width: 200px;
    overflow: hidden;
    display: block;
    float: left;
    text-justify: inter-ideograph;
    line-height: 30px;
    margin-right: 10px;
    font-size: 12px;
    text-align: justify;
    text-justify: distribute-all-lines;
}
.buy_content_state {
    width: 65px;
    overflow: hidden;
    display: block;
    float: left;
    text-justify: inter-ideograph;
    line-height: 30px;
    margin-right: 10px;
    font-size: 12px;
    text-align: justify;
    text-justify: distribute-all-lines;
}
.buy_content_text_b .buy_content_state em {
    display: block;
    float: left;
}
.Buy_ContentBox {
    float: left;
}
.buy_content_text_b .buy_content_state .buy_content_state_b {
    line-height: 30px;
    font-size: 12px;
}
.buy_content_text_b .buy_content_state em {
    display: block;
    float: left;
}
.buy_content_text_b .buy_content_state1 {
    width: 100%;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;
}
.buy_content_text_b .buy_content_state1 .buy_content_state_b {
    font-size: 30px;
    color: #c30000;
    font-weight: bold;
    line-height: 30px;
}

.buy_content_text_c {
    width: 743px;
    overflow: hidden;
    background: #fffcf5;
    border: 2px solid #edd28b;
    margin: 10px 0px 10px 22px;
    padding: 10px 0px;
}
.buy_content_text_c .buy_content_state {
    width: 743px;
    overflow: hidden;
    float: left;
    padding-left: 5px;
    color: #61605d;
}
.buy_content_text_c .buy_content_state .buy_content_state_a {
    width: 60px;
    height: 40px;
    display: block;
    overflow: hidden;
    line-height: 40px;
    float: left;
    margin-right: 10px;
    font-size: 12px;
}
.quantitypurchased {
    margin-top: 10px;
}
.quantitypurchased li {
    float: left;
    line-height: 21px;
    margin-right: 5px;
    font-size: 12px;
}
.quantity {
    width: 66px;
    height: 19px;
    border: 1px solid #ccc;
}
.quantitypurchased .quantity a {
    text-decoration: none;
    width: 12px;
    height: 17px;
    background: #eee;
    line-height: 19px;
    font-size: 9px;
    text-align: center;
    cursor: pointer;
}
.quantity * {
    float: left;
}
.quantity input {
    width: 40px;
    height: 17px;
    color: #666;
    border: none 0;
    text-align: center;
    line-height: 19px;
    font-size: 12px;
}

.buy_content_arrow {
    width: 200px;
    overflow: hidden;
    float: right;
}
.buy_content_button {
    width: 400px;
    overflow: hidden;
    padding: 20px 10px 0px 26px;
}
.button_join_cart {
    width: 125px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    float: left;
    cursor: pointer;
}
.patt_bg_join_cart {
    background: #c51b00;
    color: #fff;
    font-size: 16px;
}
.left{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 60px;
}
.right{
    float: left;
    width: 800px;
}


.number{
    width: 30px;
    height: 30px;
    float: left;
}

ul li{
    margin-right: 0px;
}
.price{
    font-size: 25px;
    border:0px;
    width: 100px;
    height: 40px;
}
.parameter{

}
.adder-subtractor{
    width: 15px;
    float: left;
}
.number-add{
    width: 15px;
    height: 15px;
    float: left;
}
.activity{
    text-align:center;
    margin:0 auto;
}
.jumbotron{
    background-color: white;
}
.jumbotron p {
    color: black;
}
#shoppingBoard {
   height: 145px;
   width: 240px;
   border: 1px solid #c1c1c1;
}
.titleOne {
   height: 35px;
   width: 240px;
   background-color: #b61d1d;
   color: white;
   margin-top: -10px
}
h5 {
   line-height: 35px;
   margin-left: 12px;
}
.boardContent {
   height: 108px;
   width: 240px;
}
.contentList {
   margin-left: 25px;
   margin-top: 10px;
}
