* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei, SimSun, Arial;
}
.cart-shop {
    width: 100%;
    /*overflow: hidden;*/
    margin-bottom: 20px;
}
.cart-shops-name {
    width: 975px;
    overflow: hidden;
    font-size: 14px;
    margin: 0 auto;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #666;
    border-left: 5px solid #c30000;
    padding-left: 10px;
}
.cart-shops-name span {
    color: #222;
    font-weight: bold;
}
.cart-goods-box {
    width: 990px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
}
.cart-a {
    width: 990px;
    overflow: hidden;
}
.cart-a .cart-title-box {
    width: 100%;
    overflow: hidden;
}
.cart-a .cart-title-box .cart-title {
    width: 990px;
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
}
.cart-a .cart-title-box .cart-title .cart-all {
    width: 67px;
    height: 35px;
    background: #ebebeb;
    border-right: 1px solid white;
    line-height: 37px;
    text-align: center;
    color: #666;
}
.cart-a .cart-title-box .cart-title .cart-goods {
    width: 380px;
    height: 35px;
    background: #ebebeb;
    border-right: 1px solid white;
    line-height: 37px;
    text-align: center;
    color: #666;
    font-size: 12px;
}
.cart-a .cart-title-box .cart-title li {
    float: left;
}
li {
    list-style: none;
}
.cart-a .cart-title-box .cart-title .cart-rmb {
    width: 128px;
    height: 35px;
    background: #ebebeb;
    border-right: 1px solid white;
    line-height: 37px;
    text-align: center;
    color: #666;
}
.cart-a .cart-title-box .cart-title .cart-number {
    width: 164px;
    height: 35px;
    background: #ebebeb;
    border-right: 1px solid white;
    line-height: 37px;
    text-align: center;
    color: #666;
}
.cart-a .cart-title-box .cart-title .cart-total {
    width: 154px;
    height: 35px;
    background: #ebebeb;
    border-right: 1px solid white;
    line-height: 37px;
    text-align: center;
    color: #666;
}
.cart-a .cart-title-box .cart-title .cart-operate {
    width: 90px;
}
.cart-operate .cart-title-left-bg2 {
    width: 100px;
    height: 35px;
    background: #ebebeb;
    text-align: center;
    line-height: 37px;
    color: #666;
}
.cart-content {
    width: 988px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    overflow: hidden;
    background: #f7f7f7;
    margin-top: -10px;
}
.cart-content .cart-content-table1 {
    overflow: hidden;
    padding-left: 13px;
    padding-right: 40px;
    padding-top: 30px;
}
.cart-content li {
    float: left;
    font-size: 12px;
}
.cart-content .cart-content-table1 {
    width: 70px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.cart-content .cart-content-table2 img {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    cursor: pointer;
}
img {
    border: none 0;
}
.cart-content .cart-content-table3 {
    width: 311px;
    height: 48px;
    padding: 14px;
    font-size: 12px;
}
.cart-content .cart-content-table3 em {
    color: #c30000;
    font-size: 12px;
}
em {
    font-style: normal;
}
.cart-content .cart-content-table4, .cart-content .cart-content-table6 {
    width: 128px;
    line-height: 77px;
    text-align: center;
    color: #666;
    font-size: 12px;
}
.cart-content .cart-content-table5 {
    width: 165px;
    height: 77px;
    padding-top: 26px;
    padding-left: 50px;
}
.cart-content-table5 input {
    width: 40px;
    height: 20px;
    color: #666;
    border: none 0;
    text-align: center;
    line-height: 19px;
}
.cart-content-table5 .changes {
    width: 20px;
}
.cart-content-table5 * {
    float: left;
}
.cart-content .cart-content-table6 {
    width: 152px;
    color: #c30000;
    font-weight: bold;
}
.cart-content .cart-content-table4 {
    width: 128px;
    line-height: 77px;
    text-align: center;
    font-size: 12px;
}
.price, .subtotal {
    width: 80px;
    border: 0px;
    padding: 0px;
    background-color: #F7F7F7;
}
.cart-content .cart-content-table7 {
    width: 90px;
    height: 77px;
    text-align: center;
}
.cart-content-table7 a {
    color: #005ea7;
    line-height: 77px;
    text-align: center;
    font-size: 12px;
}
a {
    text-decoration: none;
    outline: 0;
}
.cart-total-box {
    width: 990px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px 5px 9px 9px;
    border: 1px solid #ddd;
    margin-top: 50px;
    margin-bottom: 20px;
}
.cart-content-footer {
    width: 990px;
    overflow: hidden;
    margin: 0 auto;
}
.cart-content-footer .footer-center {
    width: 988px;
    overflow: hidden;
    padding: 10px 0;
    line-height: 51px;
    background: #eaeaea;
    text-align: right;
    padding-right: 10px;
    font-size: 25px;
    color: #828282;
}
.cart-content-footer .amount-title {
    width: auto;
    text-align: right;
    display: block;
    float: right;
}
.cart-content-footer .footer-center em {
    color: #c30000;
    font-size: 25px;
    padding-right: 5px;
    font-weight: bold;
}
.cart-content-footer .amount {
    width: auto;
    text-align: right;
    display: block;
    float: left;
    padding: 0 5px;
}
.footer-button {
    padding-top: 34px;
    width: 207px;
    height: 60px;
    margin: 0 auto;
    padding: 9px 0 28px 0;
    float: right;
}
.footer-button li{
    display: table-cell;
    position: relative;
    left: -93px;
}
.continue-cart {
    background: rgb(0, 197, 177);
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 125px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: -7px;
}
.buy-now {
    background: rgb(197, 27, 0);
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 125px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 4px;
}
.total {
    width: 100px;
    border: 0px;
    background-color: #EAEAEA;
}
a:hover{
    text-decoration: none;
}
input[type=checkbox] {
    vertical-align: middle;
    margin-top: -1px;
}
.alls-check {
    margin-left: 5px;
}
