.cart-shops-name {
    width: 975px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #666;
    border-left: 5px solid #c30000;
    padding-left: 10px;
}
.cart-goods-box {
    width: 990px;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
}
.cart-a .cart-title-box .cart-title {
    overflow: hidden;
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
}
.cart-title .cart-promotion,
.cart-title .cart-rmb,
.cart-title .cart-total,
.cart-title .cart-number {
    width: 128px;
    height: 35px;
    background: #ebebeb;
    border-right: 1px solid white;
    line-height: 37px;
    text-align: center;
}
.cart-a .cart-title-box .cart-title .cart-all {
    width: 67px;
    height: 35px;
    background: #ebebeb;
    border-right: 1px solid white;
    line-height: 37px;
    text-align: center;
    color: #666;
}
.cart-a .cart-title-box .cart-title .cart-goods {
    width: 281px;
    height: 35px;
    background: #ebebeb;
    border-right: 1px solid white;
    line-height: 37px;
    text-align: center;
}

.cart-a .cart-title-box .cart-title li {
    float: left;
}
li {
    list-style: none;
}
.cart-operate .cart-title-left-bg2 {
    width: 128px;
    height: 35px;
    background: #ebebeb;
    text-align: center;
    line-height: 37px;
}
.cart-content {
    width: 988px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    overflow: hidden;
    background: #f7f7f7;
    margin-top: -10px;
}
.cart-content li {
    float: left;
    font-size: 12px;
}
.cart-content .cart-content-table1 {
    width: 70px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.cart-content .cart-content-table2 img {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    cursor: pointer;
}
.cart-content .cart-content-table3 em {
    color: #c30000;
    font-size: 12px;
}
em {
    font-style: normal;
}
.cart-content .cart-content-table4, .cart-content .cart-content-table5 {
    width: 128px;
    line-height: 77px;
    text-align: center;
    font-size: 12px;
}
.cart-content .cart-content-table3 {
    width: 206px;
    line-height: 77px;
    text-align: center;
    font-size: 12px;
}
.price, .subtotal {
    width: 128px;
    border: 0px;
    padding: 0px;
    text-align: center;
    background-color: #F7F7F7;
    height: 80px;
}
.cart-content .cart-content-table6 {
    width: 128px;
    height: 77px;
    text-align: center;
    margin-top: 32px;
}
.cart-content .cart-content-table7 {
    width: 128px;
    border: 0px;
    padding: 0px;
    text-align: center;
    background-color: #F7F7F7;
}
.cart-content .cart-content-table8 {
    width: 128px;
    height: 77px;
    text-align: center;
    margin-top: 32px;
}
.cart-content-table7 a {
    color: #005ea7;
    line-height: 77px;
    text-align: center;
    font-size: 12px;
}

.cart-content-footer {
    width: 990px;
    overflow: hidden;
    margin: 0 auto;
}
.cart-content-footer .footer-center {
    width: 988px;
    overflow: hidden;
    padding: 10px 0;
    line-height: 51px;
    background: #eaeaea;
    text-align: right;
    padding-right: 10px;
    font-size: 25px;
    color: #828282;
}
.cart-content-footer .amount-title {
    width: auto;
    text-align: right;
    display: block;
    float: right;
}
.cart-content-footer .footer-center em {
    color: #c30000;
    padding-right: 5px;
    font-weight: bold;
}
.cart-content-footer .amount {
    width: auto;
    text-align: right;
    display: block;
    float: left;
    padding: 0 5px;
}
.footer-button {
    padding-top: 34px;
    width: 207px;
    height: 60px;
    margin: 0 auto;
    padding: 9px 0 28px 0;
    float: right;
}
.footer-button li {
    display: table-cell;
    position: relative;
    left: -93px;
}
.continue-cart {
    background: rgb(0, 197, 177);
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 125px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    margin-left: -47px;
}
.buy-now {
    background: rgb(197, 27, 0);
    font-size: 16px;
    color: rgb(255, 255, 255);
    width: 125px;
    text-align: center;
    line-height: 36px;
    margin-left: 20px;
}
.total {
    width: 100px;
    border: 0px;
    background-color: #EAEAEA;
}
.alls-check {
    margin-left: 5px;
}
.img-cursor {
    width: 40px;
    height: 40px;
}
.cart_goods_delete {
    width: 50px;
    height: 50px;
}
.save {
    margin-left: 67px;
}
 input, select, textarea {
    text-align: center;
    width: 12px;
}
 a:hover {
    text-decoration: none;
}
.cart-goods-count {
    width:33px;
}
